{
	"openapi": "3.0.0",
	"x-stoplight": {
	  "id": "9c2cyao9hb2js"
	},
	"info": {
	  "title": "政府統計の総合窓口（e-Stat）のAPI 仕様 3.0版",
	  "version": "3.0",
	  "description": "令和元年 7月<br>\n独立行政法人 統計センター<br>\n<br>\n本ページは、政府統計の総合窓口（e-Stat）のAPI機能に係る仕様について説明したものです。<br>\n### APIの利用方法\n指定されたURLに対してリクエストを送信することで、各APIを利用することができます。<br>\nURLで取得するデータ形式を選択できます。<br>\n<br>\n各APIを利用するには、アプリケーションIDを必ず指定する必要があります。<br>\n利用登録を行い、アプリケーションIDを取得して下さい。<br>\n### APIパラメータ\n各APIは、リクエスト送信時にパラメータの指定が必要です。<br>\n<br>\n各パラメータは「パラメータ名=値」のように名称と値を’=’で結合し、複数のパラメータを指定する場合は「パラメータ名=値&パラメータ名=値&…」のようにそれぞれのパラメータ指定を’&’で結合して下さい。<br>\nまた、パラメータ値は必ずURLエンコード(文字コードUTF-8)してから結合して下さい。",
	  "contact": {}
	},
	"servers": [
	  {
		"url": "https://api.e-stat.go.jp"
	  }
	],
	"paths": {
	  "/rest/3.0/app/getStatsList": {
		"get": {
		  "summary": "統計表情報取得(XML形式)",
		  "operationId": "get-rest-statsList",
		  "description": "統計表(XML形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/surveyYears"
			},
			{
			  "$ref": "#/components/parameters/openYears"
			},
			{
			  "$ref": "#/components/parameters/updatedDate"
			},
			{
			  "$ref": "#/components/parameters/statsField"
			},
			{
			  "$ref": "#/components/parameters/statsCode"
			},
			{
			  "$ref": "#/components/parameters/collectArea"
			},
			{
			  "$ref": "#/components/parameters/searchKind"
			},
			{
			  "$ref": "#/components/parameters/statsNameList"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "searchWord",
			  "description": "検索キーワード：表題やメタ情報等に含まれている文字列を検索します。<br>　AND、OR 又は NOT を指定して複数ワードでの検索が可能です。 <br>　(例)「東京 AND 人口」「東京 OR 大阪」"
			},
			{
			  "$ref": "#/components/parameters/startPosition"
			},
			{
			  "$ref": "#/components/parameters/limit"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_LIST": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsList"
						  },
						  "DATALIST_INF": {
							"$ref": "#/components/schemas/datalistInf"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsListXml200"
					}
				  },
				  "examples": {
					"STATS_NAME_LIST<>Y": {
					  "value": "<GET_STATS_LIST xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsList.xsd\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n  <RESULT>\n    <STATUS>0</STATUS>\n    <ERROR_MSG>正常に終了しました。</ERROR_MSG>\n    <DATE>2022-07-07T15:09:08.163+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <SURVEY_YEARS>200004</SURVEY_YEARS>\n    <OPEN_YEARS>2020</OPEN_YEARS>\n    <STATS_FIELD>12</STATS_FIELD>\n    <STATS_CODE>00100102</STATS_CODE>\n    <SEARCH_WORD>民間企業</SEARCH_WORD>\n    <SEARCH_KIND>1</SEARCH_KIND>\n    <COLLECT_AREA>1</COLLECT_AREA>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>1</LIMIT>\n    <UPDATED_DATE>20200211</UPDATED_DATE>\n  </PARAMETER>\n  <DATALIST_INF>\n    <NUMBER>179</NUMBER>\n    <RESULT_INF>\n      <FROM_NUMBER>1</FROM_NUMBER>\n      <TO_NUMBER>1</TO_NUMBER>\n      <NEXT_KEY>2</NEXT_KEY>\n    </RESULT_INF>\n    <TABLE_INF id=\"0003358784\">\n      <STAT_NAME code=\"00100102\">青少年の生活と意識に関する基本調査</STAT_NAME>\n      <GOV_ORG code=\"00100\">内閣府</GOV_ORG>\n      <STATISTICS_NAME>青少年の意識と生活に関する調査 15～24歳に対する質問項目</STATISTICS_NAME>\n      <TITLE>15～24歳 Q24　〔カード21〕あなたは，現在，この中ではどれに当てはまりますか。一つだけ選んでください。　本人の就労状況</TITLE>\n      <CYCLE>年度次</CYCLE>\n      <SURVEY_DATE>200004-200103</SURVEY_DATE>\n      <OPEN_DATE>2020-01-08</OPEN_DATE>\n      <SMALL_AREA>0</SMALL_AREA>\n      <COLLECT_AREA>全国</COLLECT_AREA>\n      <MAIN_CATEGORY code=\"12\">教育・文化・スポーツ・生活</MAIN_CATEGORY>\n      <SUB_CATEGORY code=\"03\">文化・スポーツ・生活</SUB_CATEGORY>\n      <OVERALL_TOTAL_NUMBER>110</OVERALL_TOTAL_NUMBER>\n      <UPDATED_DATE>2020-02-11</UPDATED_DATE>\n      <STATISTICS_NAME_SPEC>\n        <TABULATION_CATEGORY>青少年の意識と生活に関する調査</TABULATION_CATEGORY>\n        <TABULATION_SUB_CATEGORY1>15～24歳に対する質問項目</TABULATION_SUB_CATEGORY1>\n      </STATISTICS_NAME_SPEC>\n      <DESCRIPTION>\n        <TABULATION_CATEGORY_EXPLANATION>統計表の提供統計の解説</TABULATION_CATEGORY_EXPLANATION>\n        <TABULATION_SUB_CATEGORY_EXPLANATION1>統計表提供分類1の解説</TABULATION_SUB_CATEGORY_EXPLANATION1>\n      </DESCRIPTION>\n      <TITLE_SPEC>\n        <TABLE_CATEGORY>15～24歳</TABLE_CATEGORY>\n        <TABLE_NAME>Q24　〔カード21〕あなたは，現在，この中ではどれに当てはまりますか。一つだけ選んでください。　本人の就労状況</TABLE_NAME>\n      </TITLE_SPEC>\n    </TABLE_INF>\n  </DATALIST_INF>\n</GET_STATS_LIST>"
					},
					"STATS_NAME_LIST=Y": {
					  "value": "<GET_STATS_LIST xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsList.xsd\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n  <RESULT>\n    <STATUS>0</STATUS>\n    <ERROR_MSG>正常に終了しました。</ERROR_MSG>\n    <DATE>2022-07-07T15:09:45.139+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <SURVEY_YEARS>200004</SURVEY_YEARS>\n    <OPEN_YEARS>2020</OPEN_YEARS>\n    <STATS_FIELD>12</STATS_FIELD>\n    <STATS_CODE>00100102</STATS_CODE>\n    <SEARCH_WORD>民間企業</SEARCH_WORD>\n    <SEARCH_KIND>1</SEARCH_KIND>\n    <COLLECT_AREA>1</COLLECT_AREA>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <STATS_NAME_LIST>Y</STATS_NAME_LIST>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>1</LIMIT>\n    <UPDATED_DATE>20200211</UPDATED_DATE>\n  </PARAMETER>\n  <DATALIST_INF>\n    <NUMBER>1</NUMBER>\n    <RESULT_INF>\n      <FROM_NUMBER>1</FROM_NUMBER>\n      <TO_NUMBER>1</TO_NUMBER>\n      <NEXT_KEY>2</NEXT_KEY>\n    </RESULT_INF>\n    <LIST_INF id=\"00100102\">\n      <STAT_NAME code=\"00100102\">青少年の生活と意識に関する基本調査</STAT_NAME>\n      <GOV_ORG code=\"00100\">内閣府</GOV_ORG>\n    </LIST_INF>\n  </DATALIST_INF>\n</GET_STATS_LIST>"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_LIST": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsList"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsListXml400"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_STATS_LIST xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsList.xsd\">\n  <RESULT>\n    <STATUS>102</STATUS>\n    <ERROR_MSG>集計地域区分（collectArea）の値が正しくありません。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <SURVEY_YEARS>2022</SURVEY_YEARS>\n    <OPEN_YEARS>202110</OPEN_YEARS>\n    <STATS_FIELD>03</STATS_FIELD>\n    <STATS_CODE>00200521</STATS_CODE>\n    <SEARCH_WORD>民間企業</SEARCH_WORD>\n    <SEARCH_KIND>1</SEARCH_KIND>\n    <COLLECT_AREA>5</COLLECT_AREA>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <STATS_NAME_LIST>Y</STATS_NAME_LIST>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>20</LIMIT>\n    <UPDATED_DATE>20220601</UPDATED_DATE>\n  </PARAMETER>\n</GET_STATS_LIST>"
					}
				  }
				}
			  }
			},
			"403": {
			  "description": "Forbidden",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_LIST": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsList"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsListXml403"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_STATS_LIST xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsList.xsd\">\n  <RESULT>\n    <STATUS>100</STATUS>\n    <ERROR_MSG>認証に失敗しました。アプリケーションIDを確認して下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <SURVEY_YEARS>2022</SURVEY_YEARS>\n    <OPEN_YEARS>202110</OPEN_YEARS>\n    <STATS_FIELD>03</STATS_FIELD>\n    <STATS_CODE>00200521</STATS_CODE>\n    <SEARCH_WORD>民間企業</SEARCH_WORD>\n    <SEARCH_KIND>1</SEARCH_KIND>\n    <COLLECT_AREA>1</COLLECT_AREA>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <STATS_NAME_LIST>Y</STATS_NAME_LIST>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>20</LIMIT>\n    <UPDATED_DATE>20220601</UPDATED_DATE>\n  </PARAMETER>\n</GET_STATS_LIST>"
					}
				  }
				}
			  }
			},
			"500": {
			  "description": "Internal Server Error",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_LIST": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsList"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsListXml500"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_STATS_LIST xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsList.xsd\">\n  <RESULT>\n    <STATUS>299</STATUS>\n    <ERROR_MSG>予期しないエラーが発生しました。管理者に問い合わせて下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <SURVEY_YEARS>2022</SURVEY_YEARS>\n    <OPEN_YEARS>202110</OPEN_YEARS>\n    <STATS_FIELD>03</STATS_FIELD>\n    <STATS_CODE>00200521</STATS_CODE>\n    <SEARCH_WORD>民間企業</SEARCH_WORD>\n    <SEARCH_KIND>1</SEARCH_KIND>\n    <COLLECT_AREA>1</COLLECT_AREA>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <STATS_NAME_LIST>Y</STATS_NAME_LIST>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>20</LIMIT>\n    <UPDATED_DATE>20220601</UPDATED_DATE>\n  </PARAMETER>\n</GET_STATS_LIST>"
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"統計表情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/json/getStatsList": {
		"get": {
		  "summary": "統計表情報取得(JSON形式)",
		  "operationId": "get-rest-json-statsList",
		  "description": "統計表(JSON形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/surveyYears"
			},
			{
			  "$ref": "#/components/parameters/openYears"
			},
			{
			  "$ref": "#/components/parameters/updatedDate"
			},
			{
			  "$ref": "#/components/parameters/statsField"
			},
			{
			  "$ref": "#/components/parameters/statsCode"
			},
			{
			  "$ref": "#/components/parameters/collectArea"
			},
			{
			  "$ref": "#/components/parameters/searchKind"
			},
			{
			  "$ref": "#/components/parameters/statsNameList"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "searchWord",
			  "description": "検索キーワード：表題やメタ情報等に含まれている文字列を検索します。<br>　AND、OR 又は NOT を指定して複数ワードでの検索が可能です。 <br>　(例)「東京 AND 人口」「東京 OR 大阪」"
			},
			{
			  "$ref": "#/components/parameters/startPosition"
			},
			{
			  "$ref": "#/components/parameters/limit"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_LIST": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsList"
						  },
						  "DATALIST_INF": {
							"$ref": "#/components/schemas/datalistInf"
						  }
						}
					  }
					}
				  },
				  "examples": {
					"STATS_NAME_LIST<>Y": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "0",
							"ERROR_MSG": "正常に終了しました。",
							"DATE": "2022-07-07T12:40:24.968+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"SURVEY_YEARS": "200004",
							"OPEN_YEARS": "2020",
							"STATS_FIELD": "12",
							"STATS_CODE": "00100102",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "1",
							"UPDATED_DATE": "20200211"
						  },
						  "DATALIST_INF": {
							"NUMBER": "179",
							"RESULT_INF": {
							  "FROM_NUMBER": "1",
							  "TO_NUMBER": "1",
							  "NEXT_KEY": "2"
							},
							"TABLE_INF": {
							  "@id": "0003358784",
							  "STAT_NAME": {
								"@code": "00100102",
								"$": "青少年の生活と意識に関する基本調査"
							  },
							  "GOV_ORG": {
								"@code": "00100",
								"$": "内閣府"
							  },
							  "STATISTICS_NAME": "青少年の意識と生活に関する調査 15～24歳に対する質問項目",
							  "TITLE": "15～24歳 Q24　〔カード21〕あなたは，現在，この中ではどれに当てはまりますか。一つだけ選んでください。　本人の就労状況",
							  "CYCLE": "年度次",
							  "SURVEY_DATE": "200004-200103",
							  "OPEN_DATE": "2020-01-08",
							  "SMALL_AREA": "0",
							  "COLLECT_AREA": "全国",
							  "MAIN_CATEGORY": {
								"@code": "12",
								"$": "教育・文化・スポーツ・生活"
							  },
							  "SUB_CATEGORY": {
								"@code": "03",
								"$": "文化・スポーツ・生活"
							  },
							  "OVERALL_TOTAL_NUMBER": "110",
							  "UPDATED_DATE": "2020-02-11",
							  "STATISTICS_NAME_SPEC": {
								"TABULATION_CATEGORY": "青少年の意識と生活に関する調査",
								"TABULATION_SUB_CATEGORY1": "15～24歳に対する質問項目"
							  },
							  "DESCRIPTION": {
								"TABULATION_CATEGORY_EXPLANATION": "統計表の提供統計の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION1": "統計表提供分類1の解説"
							  },
							  "TITLE_SPEC": {
								"TABLE_CATEGORY": "15～24歳",
								"TABLE_NAME": "Q24　〔カード21〕あなたは，現在，この中ではどれに当てはまりますか。一つだけ選んでください。　本人の就労状況"
							  }
							}
						  }
						}
					  }
					},
					"STATS_NAME_LIST=Y": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "0",
							"ERROR_MSG": "正常に終了しました。",
							"DATE": "2022-07-07T14:37:47.310+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"SURVEY_YEARS": "200004",
							"OPEN_YEARS": "2020",
							"STATS_FIELD": "12",
							"STATS_CODE": "00100102",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "1"
						  },
						  "DATALIST_INF": {
							"NUMBER": "1",
							"RESULT_INF": {
							  "FROM_NUMBER": "1",
							  "TO_NUMBER": "1",
							  "NEXT_KEY": "2"
							},
							"LIST_INF": [
							  {
								"STAT_NAME": {
								  "@code": "00100102",
								  "$": "青少年の生活と意識に関する基本調査"
								},
								"GOV_ORG": {
								  "@code": "00100",
								  "$": "内閣府"
								}
							  }
							]
						  }
						}
					  }
					},
					"Bad Request": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "102",
							"ERROR_MSG": "集計地域区分（collectArea）の値が正しくありません。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "J",
							"SURVEY_YEARS": "2022",
							"OPEN_YEARS": "202110",
							"STATS_FIELD": "03",
							"STATS_CODE": "00200521",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "5",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"START_POSITION": "1",
							"LIMIT": "20",
							"UPDATED_DATE": "20220601"
						  }
						}
					  }
					},
					"Forbidden": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "100",
							"ERROR_MSG": "認証に失敗しました。アプリケーションIDを確認して下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "J",
							"SURVEY_YEARS": "2022",
							"OPEN_YEARS": "202110",
							"STATS_FIELD": "03",
							"STATS_CODE": "00200521",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"START_POSITION": "1",
							"LIMIT": "20",
							"UPDATED_DATE": "20220601"
						  }
						}
					  }
					},
					"Internal Server Error": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "299",
							"ERROR_MSG": "予期しないエラーが発生しました。管理者に問い合わせて下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "J",
							"SURVEY_YEARS": "2022",
							"OPEN_YEARS": "202110",
							"STATS_FIELD": "03",
							"STATS_CODE": "00200521",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"START_POSITION": "1",
							"LIMIT": "20",
							"UPDATED_DATE": "20220601"
						  }
						}
					  }
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"統計表情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/jsonp/getStatsList": {
		"get": {
		  "summary": "統計表情報取得(JSONP形式)",
		  "operationId": "get-rest-jsonp-statsList",
		  "description": "統計表(JSONP形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/surveyYears"
			},
			{
			  "$ref": "#/components/parameters/openYears"
			},
			{
			  "$ref": "#/components/parameters/updatedDate"
			},
			{
			  "$ref": "#/components/parameters/statsField"
			},
			{
			  "$ref": "#/components/parameters/statsCode"
			},
			{
			  "$ref": "#/components/parameters/collectArea"
			},
			{
			  "$ref": "#/components/parameters/searchKind"
			},
			{
			  "$ref": "#/components/parameters/statsNameList"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "searchWord",
			  "description": "検索キーワード：表題やメタ情報等に含まれている文字列を検索します。<br>　AND、OR 又は NOT を指定して複数ワードでの検索が可能です。 <br>　(例)「東京 AND 人口」「東京 OR 大阪」"
			},
			{
			  "$ref": "#/components/parameters/startPosition"
			},
			{
			  "$ref": "#/components/parameters/limit"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "callback",
			  "description": "コールバック関数：コールバックされる関数名を指定して下さい。",
			  "required": true
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_LIST": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsList"
						  },
						  "DATALIST_INF": {
							"$ref": "#/components/schemas/datalistInf"
						  }
						}
					  }
					}
				  },
				  "examples": {
					"STATS_NAME_LIST<>Y": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "0",
							"ERROR_MSG": "正常に終了しました。",
							"DATE": "2022-07-07T12:40:24.968+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"SURVEY_YEARS": "200004",
							"OPEN_YEARS": "2020",
							"STATS_FIELD": "12",
							"STATS_CODE": "00100102",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "1",
							"UPDATED_DATE": "20200211",
							"CALLBACK": "CALL_TEST"
						  },
						  "DATALIST_INF": {
							"NUMBER": "179",
							"RESULT_INF": {
							  "FROM_NUMBER": "1",
							  "TO_NUMBER": "1",
							  "NEXT_KEY": "2"
							},
							"TABLE_INF": {
							  "@id": "0003358784",
							  "STAT_NAME": {
								"@code": "00100102",
								"$": "青少年の生活と意識に関する基本調査"
							  },
							  "GOV_ORG": {
								"@code": "00100",
								"$": "内閣府"
							  },
							  "STATISTICS_NAME": "青少年の意識と生活に関する調査 15～24歳に対する質問項目",
							  "TITLE": "15～24歳 Q24　〔カード21〕あなたは，現在，この中ではどれに当てはまりますか。一つだけ選んでください。　本人の就労状況",
							  "CYCLE": "年度次",
							  "SURVEY_DATE": "200004-200103",
							  "OPEN_DATE": "2020-01-08",
							  "SMALL_AREA": "0",
							  "COLLECT_AREA": "全国",
							  "MAIN_CATEGORY": {
								"@code": "12",
								"$": "教育・文化・スポーツ・生活"
							  },
							  "SUB_CATEGORY": {
								"@code": "03",
								"$": "文化・スポーツ・生活"
							  },
							  "OVERALL_TOTAL_NUMBER": "110",
							  "UPDATED_DATE": "2020-02-11",
							  "STATISTICS_NAME_SPEC": {
								"TABULATION_CATEGORY": "青少年の意識と生活に関する調査",
								"TABULATION_SUB_CATEGORY1": "15～24歳に対する質問項目"
							  },
							  "DESCRIPTION": {
								"TABULATION_CATEGORY_EXPLANATION": "統計表の提供統計の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION1": "統計表提供分類1の解説"
							  },
							  "TITLE_SPEC": {
								"TABLE_CATEGORY": "15～24歳",
								"TABLE_NAME": "Q24　〔カード21〕あなたは，現在，この中ではどれに当てはまりますか。一つだけ選んでください。　本人の就労状況"
							  }
							}
						  }
						}
					  }
					},
					"STATS_NAME_LIST=Y": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "0",
							"ERROR_MSG": "正常に終了しました。",
							"DATE": "2022-07-07T14:37:47.310+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"SURVEY_YEARS": "200004",
							"OPEN_YEARS": "2020",
							"STATS_FIELD": "12",
							"STATS_CODE": "00100102",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "1",
							"UPDATED_DATE": "20200211",
							"CALLBACK": "CALL_TEST"
						  },
						  "DATALIST_INF": {
							"NUMBER": "1",
							"RESULT_INF": {
							  "FROM_NUMBER": "1",
							  "TO_NUMBER": "1",
							  "NEXT_KEY": "2"
							},
							"LIST_INF": [
							  {
								"STAT_NAME": {
								  "@code": "00100102",
								  "$": "青少年の生活と意識に関する基本調査"
								},
								"GOV_ORG": {
								  "@code": "00100",
								  "$": "内閣府"
								}
							  }
							]
						  }
						}
					  }
					},
					"Bad Request": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "102",
							"ERROR_MSG": "集計地域区分（collectArea）の値が正しくありません。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "X",
							"SURVEY_YEARS": "2022",
							"OPEN_YEARS": "202110",
							"STATS_FIELD": "03",
							"STATS_CODE": "00200521",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "5",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"START_POSITION": "1",
							"LIMIT": "20",
							"UPDATED_DATE": "20220601",
							"CALLBACK": "CALL_TEST"
						  }
						}
					  }
					},
					"Forbidden": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "100",
							"ERROR_MSG": "認証に失敗しました。アプリケーションIDを確認して下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "X",
							"SURVEY_YEARS": "2022",
							"OPEN_YEARS": "202110",
							"STATS_FIELD": "03",
							"STATS_CODE": "00200521",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"START_POSITION": "1",
							"LIMIT": "20",
							"UPDATED_DATE": "20220601",
							"CALLBACK": "CALL_TEST"
						  }
						}
					  }
					},
					"Internal Server Error": {
					  "value": {
						"GET_STATS_LIST": {
						  "RESULT": {
							"STATUS": "299",
							"ERROR_MSG": "予期しないエラーが発生しました。管理者に問い合わせて下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "J",
							"SURVEY_YEARS": "2022",
							"OPEN_YEARS": "202110",
							"STATS_FIELD": "03",
							"STATS_CODE": "00200521",
							"SEARCH_WORD": "民間企業",
							"SEARCH_KIND": "1",
							"COLLECT_AREA": "1",
							"EXPLANATION_GET_FLG": "Y",
							"STATS_NAME_LIST": "Y",
							"START_POSITION": "1",
							"LIMIT": "20",
							"UPDATED_DATE": "20220601",
							"CALLBACK": "CALL_TEST"
						  }
						}
					  }
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"統計表情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/getSimpleStatsList": {
		"get": {
		  "summary": "統計表情報取得(CSV形式)",
		  "operationId": "get-rest-simpleStatsList",
		  "description": "統計表(CSV形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/surveyYears"
			},
			{
			  "$ref": "#/components/parameters/openYears"
			},
			{
			  "$ref": "#/components/parameters/updatedDate"
			},
			{
			  "$ref": "#/components/parameters/statsField"
			},
			{
			  "$ref": "#/components/parameters/statsCode"
			},
			{
			  "$ref": "#/components/parameters/collectArea"
			},
			{
			  "$ref": "#/components/parameters/searchKind"
			},
			{
			  "$ref": "#/components/parameters/statsNameList"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "searchWord",
			  "description": "検索キーワード：表題やメタ情報等に含まれている文字列を検索します。<br>　AND、OR 又は NOT を指定して複数ワードでの検索が可能です。 <br>　(例)「東京 AND 人口」「東京 OR 大阪」"
			},
			{
			  "$ref": "#/components/parameters/startPosition"
			},
			{
			  "$ref": "#/components/parameters/limit"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"text/csv": {
				  "schema": {
					"type": "object",
					"properties": {
					  "RESULT": {
						"$ref": "#/components/schemas/resultCsv"
					  },
					  "RESULT_INF": {
						"type": "object",
						"description": "取得開始行、取得終了行および次回開始行の情報を保持します。",
						"properties": {
						  "FROM_NUMBER": {
							"type": "string",
							"description": "データの開始位置です。以下の順番に出力されます。<br>タグ名、データの取得開始位置"
						  },
						  "TO_NUMBER": {
							"type": "string",
							"description": "データの終了位置です。以下の順番に出力されます。<br>タグ名、データの取得終了位置"
						  },
						  "NEXT_KEY": {
							"type": "string",
							"description": "継続データ存在時の次のデータ開始位置です。以下の順番に出力されます。<br>タグ名、次データ開始位置"
						  }
						}
					  },
					  "STAT_INF": {
						"$ref": "#/components/schemas/statInfCsv"
					  }
					}
				  },
				  "examples": {
					"STATS_NAME_LIST<>Y": {
					  "value": "\\ \"RESULT\" \"STATUS\",\"0\" \"ERROR_MSG\",\"正常に終了しました。\" \"DATE\",\"2022-07-07T15:28:02.661+09:00\" \"RESULT_INF\" \"FROM_NUMBER\",\"1\" \"TO_NUMBER\",\"1\" \"NEXT_KEY\",\"2\" \"STAT_INF\" \"TABLE_INF\",\"STAT_CODE\",\"STAT_NAME\",\"GOV_ORG_CODE\",\"GOV_ORG_NAME\",\"TABULATION_CATEGORY\",\"TABULATION_SUB_CATEGORY1\",\"TABULATION_SUB_CATEGORY2\",\"TABULATION_SUB_CATEGORY3\",\"TABULATION_SUB_CATEGORY4\",\"TABULATION_SUB_CATEGORY5\",\"TABULATION_CATEGORY_EXPLANATION\",\"TABULATION_SUB_CATEGORY_EXPLANATION1\",\"TABULATION_SUB_CATEGORY_EXPLANATION2\",\"TABULATION_SUB_CATEGORY_EXPLANATION3\",\"TABULATION_SUB_CATEGORY_EXPLANATION4\",\"TABULATION_SUB_CATEGORY_EXPLANATION5\",\"NO\",\"TITLE\",\"TABLE_EXPLANATION\",\"TABLE_CATEGORY\",\"TABLE_SUB_CATEGORY1\",\"TABLE_SUB_CATEGORY2\",\"TABLE_SUB_CATEGORY3\",\"CYCLE\",\"SURVEY_DATE\",\"OPEN_DATE\",\"SMALL_AREA\",\"COLLECT_AREA\",\"OVERALL_TOTAL_NUMBER\",\"UPDATED_DATE\",\"MAIN_CATEGORY_CODE\",\"MAIN_CATEGORY\",\"SUB_CATEGORY_CODE\",\"SUB_CATEGORY\" \"0003358784\",\"00100102\",\"青少年の生活と意識に関する基本調査\",\"00100\",\"内閣府\",\"青少年の意識と生活に関する調査\",\"15～24歳に対する質問項目\",\"\",\"\",\"\",\"\",\"統計表の提供統計の解説\",\"統計表提供分類1の解説\",\"\",\"\",\"\",\"\",\"1\",\"15～24歳 Q24　〔カード21〕あなたは，現在，この中ではどれに当てはまりますか。一つだけ選んでください。　本人の就労状況\",\"統計表の解説\",\"15～24歳\",\"\",\"\",\"\",\"年度次\",\"200004-200103\",\"2020-01-08\",\"0\",\"全国\",\"110\",\"2020-02-11\",\"12\",\"教育・文化・スポーツ・生活\",\"03\",\"文化・スポーツ・生活\""
					},
					"STATS_NAME_LIST=Y": {
					  "value": "\\ \"RESULT\" \"STATUS\",\"0\" \"ERROR_MSG\",\"正常に終了しました。\" \"DATE\",\"2022-07-07T15:29:38.984+09:00\" \"RESULT_INF\" \"FROM_NUMBER\",\"1\" \"TO_NUMBER\",\"1\" \"NEXT_KEY\",\"2\" \"STAT_INF\" \"TABLE_INF\",\"STAT_CODE\",\"STAT_NAME\",\"GOV_ORG_CODE\",\"GOV_ORG_NAME\" \"00100102\",\"00100102\",\"青少年の生活と意識に関する基本調査\",\"00100\",\"内閣府\""
					},
					"Bad Request": {
					  "value": "\\\"RESULT\" \"STATUS\",\"102\" \"ERROR_MSG\",\"集計地域区分（collectArea）の値が正しくありません。\" \"DATE\",\"2022-07-07T10:31:19.972+09:00\""
					},
					"Forbidden": {
					  "value": "\\\"RESULT\" \"STATUS\",\"100\" \"ERROR_MSG\",\"認証に失敗しました。アプリケーションIDを確認して下さい。\" \"DATE\",\"2022-07-07T10:31:19.972+09:00\""
					},
					"Internal Server Error": {
					  "value": "\\\"RESULT\" \"STATUS\",\"299\" \"ERROR_MSG\",\"予期しないエラーが発生しました。管理者に問い合わせて下さい。\" \"DATE\",\"2022-07-07T10:31:19.972+09:00\""
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"統計表情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/getMetaInfo": {
		"get": {
		  "summary": "メタ情報取得(XML形式)",
		  "operationId": "get-rest-metaInfo",
		  "description": "メタデータ(XML形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/statsDataId"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_META_INFO": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterMetaInfo"
						  },
						  "METADATA_INF": {
							"$ref": "#/components/schemas/metadataInf"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getMetaInfoXml200"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_META_INFO xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetMetaInfo.xsd\">\n  <RESULT>\n    <STATUS>0</STATUS>\n    <ERROR_MSG>正常に終了しました。</ERROR_MSG>\n    <DATE>2022-07-07T20:40:07.113+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <STATS_DATA_ID>0003288322</STATS_DATA_ID>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n  </PARAMETER>\n  <METADATA_INF>\n    <TABLE_INF id=\"0003288322\">\n      <STAT_NAME code=\"00020111\">民間企業の勤務条件制度等調査</STAT_NAME>\n      <GOV_ORG code=\"00020\">人事院</GOV_ORG>\n      <STATISTICS_NAME>民間企業の勤務条件制度等調査（民間企業退職給付調査） 統計表 １　定年制と定年退職者の継続雇用の状況</STATISTICS_NAME>\n      <TITLE no=\"1\">（推計値） 定年制の状況</TITLE>\n      <CYCLE>年次</CYCLE>\n      <SURVEY_DATE>201601-201612</SURVEY_DATE>\n      <OPEN_DATE>2019-03-20</OPEN_DATE>\n      <SMALL_AREA>0</SMALL_AREA>\n      <COLLECT_AREA>該当なし</COLLECT_AREA>\n      <MAIN_CATEGORY code=\"03\">労働・賃金</MAIN_CATEGORY>\n      <SUB_CATEGORY code=\"02\">賃金・労働条件</SUB_CATEGORY>\n      <OVERALL_TOTAL_NUMBER>25</OVERALL_TOTAL_NUMBER>\n      <UPDATED_DATE>2019-03-30</UPDATED_DATE>\n      <STATISTICS_NAME_SPEC>\n        <TABULATION_CATEGORY>民間企業の勤務条件制度等調査（民間企業退職給付調査）</TABULATION_CATEGORY>\n        <TABULATION_SUB_CATEGORY1>統計表</TABULATION_SUB_CATEGORY1>\n        <TABULATION_SUB_CATEGORY2>１　定年制と定年退職者の継続雇用の状況</TABULATION_SUB_CATEGORY2>\n      </STATISTICS_NAME_SPEC>\n      <DESCRIPTION>\n        <TABULATION_CATEGORY_EXPLANATION>提供統計の解説</TABULATION_CATEGORY_EXPLANATION>\n        <TABULATION_SUB_CATEGORY_EXPLANATION1>統計表提供分類1の解説</TABULATION_SUB_CATEGORY_EXPLANATION1>\n        <TABULATION_SUB_CATEGORY_EXPLANATION2>統計表提供分類2の解説</TABULATION_SUB_CATEGORY_EXPLANATION2>\n      </DESCRIPTION>\n      <TITLE_SPEC>\n        <TABLE_CATEGORY>（推計値）</TABLE_CATEGORY>\n        <TABLE_NAME>定年制の状況</TABLE_NAME>\n        <TABLE_EXPLANATION>１　事務・技術関係職種の従業員がいる企業41,314社について集計した。２　「定年年齢」内の数値は定年制がある企業を100とした場合の割合を示す。</TABLE_EXPLANATION>\n      </TITLE_SPEC>\n    </TABLE_INF>\n    <CLASS_INF>\n      <CLASS_OBJ id=\"tab\" name=\"表章項目\" description=\"解説\">\n        <CLASS code=\"00110\" name=\"企業数割合\" level=\"\" unit=\"%\"/>\n      </CLASS_OBJ>\n      <CLASS_OBJ id=\"cat01\" name=\"企業規模\">\n        <CLASS code=\"100\" name=\"計\" level=\"1\"/>\n        <CLASS code=\"150\" name=\"1,000人以上\" level=\"2\" parentCode=\"100\"/>\n        <CLASS code=\"140\" name=\"500人以上1,000人未満\" level=\"2\" parentCode=\"100\"/>\n        <CLASS code=\"120\" name=\"100人以上500人未満\" level=\"2\" parentCode=\"100\"/>\n        <CLASS code=\"110\" name=\"50人以上100人未満\" level=\"2\" parentCode=\"100\"/>\n      </CLASS_OBJ>\n      <CLASS_OBJ id=\"cat02\" name=\"定年制度\">\n        <CLASS code=\"110\" name=\"定年制がある\" level=\"1\"/>\n        <CLASS code=\"120\" name=\"定年制がある_定年年齢_60歳\" level=\"2\" parentCode=\"110\"/>\n        <CLASS code=\"130\" name=\"定年制がある_定年年齢_61歳以上65歳未満\" level=\"2\" parentCode=\"110\"/>\n        <CLASS code=\"140\" name=\"定年制がある_定年年齢_65歳以上\" level=\"2\" parentCode=\"110\"/>\n        <CLASS code=\"150\" name=\"定年制がない\" level=\"1\"/>\n      </CLASS_OBJ>\n      <CLASS_OBJ id=\"time\" name=\"時間軸(年次)\">\n        <CLASS code=\"2016000000\" name=\"2016年\" level=\"1\"/>\n      </CLASS_OBJ>\n    </CLASS_INF>\n  </METADATA_INF>\n</GET_META_INFO>"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_META_INFO": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterMetaInfo"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getMetaInfoXml400"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_META_INFO xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetMetaInfo.xsd\">\n  <RESULT>\n    <STATUS>101</STATUS>\n    <ERROR_MSG>統計表ID（statsDataId）を指定して下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n  </PARAMETER>\n</GET_META_INFO>"
					}
				  }
				}
			  }
			},
			"403": {
			  "description": "Forbidden",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_META_INFO": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterMetaInfo"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getMetaInfoXml403"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_META_INFO xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetMetaInfo.xsd\">\n  <RESULT>\n    <STATUS>100</STATUS>\n    <ERROR_MSG>認証に失敗しました。アプリケーションIDを確認して下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <STATS_DATA_ID>0003288322</STATS_DATA_ID>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n  </PARAMETER>\n</GET_META_INFO>"
					}
				  }
				}
			  }
			},
			"500": {
			  "description": "Internal Server Error",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_META_INFO": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterMetaInfo"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getMetaInfoXml500"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_META_INFO xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetMetaInfo.xsd\">\n  <RESULT>\n    <STATUS>299</STATUS>\n    <ERROR_MSG>予期しないエラーが発生しました。管理者に問い合わせて下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <STATS_DATA_ID>0003288322</STATS_DATA_ID>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n  </PARAMETER>\n</GET_META_INFO>"
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"メタ情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/json/getMetaInfo": {
		"get": {
		  "summary": "メタ情報取得(JSON形式)",
		  "operationId": "get-rest-json-metaInfo",
		  "description": "メタデータ(JSON形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/statsDataId"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_META_INFO": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterMetaInfo"
						  },
						  "METADATA_INF": {
							"$ref": "#/components/schemas/metadataInf"
						  }
						}
					  }
					}
				  },
				  "examples": {
					"example-1": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "0",
							"ERROR_MSG": "正常に終了しました。",
							"DATE": "2022-07-07T20:07:47.967+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"STATS_DATA_ID": "0003288322",
							"DATA_FORMAT": "J",
							"EXPLANATION_GET_FLG": "Y"
						  },
						  "METADATA_INF": {
							"TABLE_INF": {
							  "@id": "0003288322",
							  "STAT_NAME": {
								"@code": "00020111",
								"$": "民間企業の勤務条件制度等調査"
							  },
							  "GOV_ORG": {
								"@code": "00020",
								"$": "人事院"
							  },
							  "STATISTICS_NAME": "民間企業の勤務条件制度等調査（民間企業退職給付調査） 統計表 １　定年制と定年退職者の継続雇用の状況",
							  "TITLE": {
								"@no": "1",
								"$": "（推計値） 定年制の状況"
							  },
							  "CYCLE": "年次",
							  "SURVEY_DATE": "201601-201612",
							  "OPEN_DATE": "2019-03-20",
							  "SMALL_AREA": "0",
							  "COLLECT_AREA": "該当なし",
							  "MAIN_CATEGORY": {
								"@code": "03",
								"$": "労働・賃金"
							  },
							  "SUB_CATEGORY": {
								"@code": "02",
								"$": "賃金・労働条件"
							  },
							  "OVERALL_TOTAL_NUMBER": "25",
							  "UPDATED_DATE": "2019-03-30",
							  "STATISTICS_NAME_SPEC": {
								"TABULATION_CATEGORY": "民間企業の勤務条件制度等調査（民間企業退職給付調査）",
								"TABULATION_SUB_CATEGORY1": "統計表",
								"TABULATION_SUB_CATEGORY2": "１　定年制と定年退職者の継続雇用の状況"
							  },
							  "DESCRIPTION": {
								"TABULATION_CATEGORY_EXPLANATION": "提供統計の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION1": "統計表提供分類1の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION2": "統計表提供分類2の解説"
							  },
							  "TITLE_SPEC": {
								"TABLE_CATEGORY": "（推計値）",
								"TABLE_NAME": "定年制の状況",
								"TABLE_EXPLANATION": "１　事務・技術関係職種の従業員がいる企業41,314社について集計した。２　「定年年齢」内の数値は定年制がある企業を100とした場合の割合を示す。"
							  }
							},
							"CLASS_INF": {
							  "CLASS_OBJ": [
								{
								  "@id": "tab",
								  "@name": "表章項目",
								  "@description": "解説",
								  "CLASS": {
									"@code": "00110",
									"@name": "企業数割合",
									"@level": "",
									"@unit": "%"
								  }
								},
								{
								  "@id": "cat01",
								  "@name": "企業規模",
								  "CLASS": [
									{
									  "@code": "100",
									  "@name": "計",
									  "@level": "1"
									},
									{
									  "@code": "150",
									  "@name": "1,000人以上",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "140",
									  "@name": "500人以上1,000人未満",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "120",
									  "@name": "100人以上500人未満",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "110",
									  "@name": "50人以上100人未満",
									  "@level": "2",
									  "@parentCode": "100"
									}
								  ]
								},
								{
								  "@id": "cat02",
								  "@name": "定年制度",
								  "CLASS": [
									{
									  "@code": "110",
									  "@name": "定年制がある",
									  "@level": "1"
									},
									{
									  "@code": "120",
									  "@name": "定年制がある_定年年齢_60歳",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "130",
									  "@name": "定年制がある_定年年齢_61歳以上65歳未満",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "140",
									  "@name": "定年制がある_定年年齢_65歳以上",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "150",
									  "@name": "定年制がない",
									  "@level": "1"
									}
								  ]
								},
								{
								  "@id": "time",
								  "@name": "時間軸(年次)",
								  "CLASS": {
									"@code": "2016000000",
									"@name": "2016年",
									"@level": "1"
								  }
								}
							  ]
							}
						  }
						}
					  }
					},
					"Bad Request": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "101",
							"ERROR_MSG": "統計表ID（statsDataId）を指定して下さい。",
							"DATE": "2022-07-05T10:47:04.530+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "J",
							"EXPLANATION_GET_FLG": "Y"
						  }
						}
					  }
					},
					"Forbidden": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "100",
							"ERROR_MSG": "認証に失敗しました。アプリケーションIDを確認して下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"STATS_DATA_ID": "0003288322",
							"DATA_FORMAT": "J",
							"EXPLANATION_GET_FLG": "Y"
						  }
						}
					  }
					},
					"Internal Server Error": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "299",
							"ERROR_MSG": "予期しないエラーが発生しました。管理者に問い合わせて下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"STATS_DATA_ID": "0003288322",
							"DATA_FORMAT": "J",
							"EXPLANATION_GET_FLG": "Y"
						  }
						}
					  }
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"メタ情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/jsonp/getMetaInfo": {
		"get": {
		  "summary": "メタ情報取得(JSONP形式)",
		  "operationId": "get-rest-jsonp-metaInfo",
		  "description": "メタデータ(JSONP形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/statsDataId"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "callback",
			  "description": "コールバック関数：コールバックされる関数名を指定して下さい。",
			  "required": true
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_META_INFO": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterMetaInfo"
						  },
						  "METADATA_INF": {
							"$ref": "#/components/schemas/metadataInf"
						  }
						}
					  }
					}
				  },
				  "examples": {
					"example-1": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "0",
							"ERROR_MSG": "正常に終了しました。",
							"DATE": "2022-07-07T20:07:47.967+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"STATS_DATA_ID": "0003288322",
							"DATA_FORMAT": "J",
							"EXPLANATION_GET_FLG": "Y",
							"CALLBACK": "CALL_TEST"
						  },
						  "METADATA_INF": {
							"TABLE_INF": {
							  "@id": "0003288322",
							  "STAT_NAME": {
								"@code": "00020111",
								"$": "民間企業の勤務条件制度等調査"
							  },
							  "GOV_ORG": {
								"@code": "00020",
								"$": "人事院"
							  },
							  "STATISTICS_NAME": "民間企業の勤務条件制度等調査（民間企業退職給付調査） 統計表 １　定年制と定年退職者の継続雇用の状況",
							  "TITLE": {
								"@no": "1",
								"$": "（推計値） 定年制の状況"
							  },
							  "CYCLE": "年次",
							  "SURVEY_DATE": "201601-201612",
							  "OPEN_DATE": "2019-03-20",
							  "SMALL_AREA": "0",
							  "COLLECT_AREA": "該当なし",
							  "MAIN_CATEGORY": {
								"@code": "03",
								"$": "労働・賃金"
							  },
							  "SUB_CATEGORY": {
								"@code": "02",
								"$": "賃金・労働条件"
							  },
							  "OVERALL_TOTAL_NUMBER": "25",
							  "UPDATED_DATE": "2019-03-30",
							  "STATISTICS_NAME_SPEC": {
								"TABULATION_CATEGORY": "民間企業の勤務条件制度等調査（民間企業退職給付調査）",
								"TABULATION_SUB_CATEGORY1": "統計表",
								"TABULATION_SUB_CATEGORY2": "１　定年制と定年退職者の継続雇用の状況"
							  },
							  "DESCRIPTION": {
								"TABULATION_CATEGORY_EXPLANATION": "提供統計の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION1": "統計表提供分類1の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION2": "統計表提供分類2の解説"
							  },
							  "TITLE_SPEC": {
								"TABLE_CATEGORY": "（推計値）",
								"TABLE_NAME": "定年制の状況",
								"TABLE_EXPLANATION": "１　事務・技術関係職種の従業員がいる企業41,314社について集計した。２　「定年年齢」内の数値は定年制がある企業を100とした場合の割合を示す。"
							  }
							},
							"CLASS_INF": {
							  "CLASS_OBJ": [
								{
								  "@id": "tab",
								  "@name": "表章項目",
								  "@description": "解説",
								  "CLASS": {
									"@code": "00110",
									"@name": "企業数割合",
									"@level": "",
									"@unit": "%"
								  }
								},
								{
								  "@id": "cat01",
								  "@name": "企業規模",
								  "CLASS": [
									{
									  "@code": "100",
									  "@name": "計",
									  "@level": "1"
									},
									{
									  "@code": "150",
									  "@name": "1,000人以上",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "140",
									  "@name": "500人以上1,000人未満",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "120",
									  "@name": "100人以上500人未満",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "110",
									  "@name": "50人以上100人未満",
									  "@level": "2",
									  "@parentCode": "100"
									}
								  ]
								},
								{
								  "@id": "cat02",
								  "@name": "定年制度",
								  "CLASS": [
									{
									  "@code": "110",
									  "@name": "定年制がある",
									  "@level": "1"
									},
									{
									  "@code": "120",
									  "@name": "定年制がある_定年年齢_60歳",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "130",
									  "@name": "定年制がある_定年年齢_61歳以上65歳未満",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "140",
									  "@name": "定年制がある_定年年齢_65歳以上",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "150",
									  "@name": "定年制がない",
									  "@level": "1"
									}
								  ]
								},
								{
								  "@id": "time",
								  "@name": "時間軸(年次)",
								  "CLASS": {
									"@code": "2016000000",
									"@name": "2016年",
									"@level": "1"
								  }
								}
							  ]
							}
						  }
						}
					  }
					},
					"Bad Request": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "101",
							"ERROR_MSG": "統計表ID（statsDataId）を指定して下さい。",
							"DATE": "2022-07-05T10:47:04.530+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATA_FORMAT": "J",
							"EXPLANATION_GET_FLG": "Y",
							"CALLBACK": "CALL_TEST"
						  }
						}
					  }
					},
					"Forbidden": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "100",
							"ERROR_MSG": "認証に失敗しました。アプリケーションIDを確認して下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"STATS_DATA_ID": "0003288322",
							"DATA_FORMAT": "X",
							"EXPLANATION_GET_FLG": "Y",
							"CALLBACK": "CALL_TEST"
						  }
						}
					  }
					},
					"Internal Server Error": {
					  "value": {
						"GET_META_INFO": {
						  "RESULT": {
							"STATUS": "299",
							"ERROR_MSG": "予期しないエラーが発生しました。管理者に問い合わせて下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"STATS_DATA_ID": "0003288322",
							"DATA_FORMAT": "J",
							"EXPLANATION_GET_FLG": "Y",
							"CALLBACK": "CALL_TEST"
						  }
						}
					  }
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"メタ情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/getSimpleMetaInfo": {
		"get": {
		  "summary": "メタ情報取得(CSV形式)",
		  "operationId": "get-rest-simpleMetaInfo",
		  "description": "メタデータ(CSV形式)の情報を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "$ref": "#/components/parameters/statsDataId"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"text/csv": {
				  "schema": {
					"type": "object",
					"properties": {
					  "RESULT": {
						"$ref": "#/components/schemas/resultCsv"
					  },
					  "TABLE_INF": {
						"$ref": "#/components/schemas/metadataInfCsv"
					  }
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "\\ \"RESULT\" \"STATUS\",\"0\" \"ERROR_MSG\",\"正常に終了しました。\" \"DATE\",\"2022-07-07T21:06:54.413+09:00\" \"TABLE_INF\",\"0003288322\" \"STAT_NAME\",\"00020111\",\"民間企業の勤務条件制度等調査\" \"GOV_ORG\",\"00020\",\"人事院\" \"STATISTICS_NAME\",\"民間企業の勤務条件制度等調査（民間企業退職給付調査） 統計表 １　定年制と定年退職者の継続雇用の状況\" \"TITLE\",\"1\",\"（推計値） 定年制の状況\" \"CYCLE\",\"年次\" \"SURVEY_DATE\",\"201601-201612\" \"OPEN_DATE\",\"2019-03-20\" \"SMALL_AREA\",\"0\" \"COLLECT_AREA\",\"該当なし\" \"MAIN_CATEGORY\",\"03\",\"労働・賃金\" \"SUB_CATEGORY\",\"02\",\"賃金・労働条件\" \"OVERALL_TOTAL_NUMBER\",\"25\" \"UPDATED_DATE\",\"2019-03-30\" \"STATISTICS_NAME_SPEC\",\"民間企業の勤務条件制度等調査（民間企業退職給付調査）\",\"統計表\",\"１　定年制と定年退職者の継続雇用の状況\",\"\",\"\",\"\" \"DESCRIPTION\",\"提供統計の解説\",\"統計表提供分類1の解説\",\"統計表提供分類2の解説\",\"\",\"\",\"\" \"TITLE_SPEC\",\"（推計値）\",\"定年制の状況\",\"１　事務・技術関係職種の従業員がいる企業41,314社について集計した。２　「定年年齢」内の数値は定年制がある企業を100とした場合の割合を示す。\",\"\",\"\",\"\" \"CLASS_INF\" \"CLASS_OBJ_ID\",\"CLASS_OBJ_NAME\",\"CLASS_CODE\",\"CLASS_NAME\",\"CLASS_LEVEL\",\"CLASS_UNIT\",\"CLASS_PARENT_CODE\",\"CLASS_ADD_INF\",\"CLASS_EXPLANATION\" \"tab\",\"表章項目\",\"00110\",\"企業数割合\",\"\",\"%\",\"\",\"\",\"解説\" \"cat01\",\"企業規模\",\"100\",\"計\",\"1\",\"\",\"\",\"\",\"\" \"cat01\",\"企業規模\",\"150\",\"1,000人以上\",\"2\",\"\",\"100\",\"\",\"\" \"cat01\",\"企業規模\",\"140\",\"500人以上1,000人未満\",\"2\",\"\",\"100\",\"\",\"\" \"cat01\",\"企業規模\",\"120\",\"100人以上500人未満\",\"2\",\"\",\"100\",\"\",\"\" \"cat01\",\"企業規模\",\"110\",\"50人以上100人未満\",\"2\",\"\",\"100\",\"\",\"\" \"cat02\",\"定年制度\",\"110\",\"定年制がある\",\"1\",\"\",\"\",\"\",\"\" \"cat02\",\"定年制度\",\"120\",\"定年制がある_定年年齢_60歳\",\"2\",\"\",\"110\",\"\",\"\" \"cat02\",\"定年制度\",\"130\",\"定年制がある_定年年齢_61歳以上65歳未満\",\"2\",\"\",\"110\",\"\",\"\" \"cat02\",\"定年制度\",\"140\",\"定年制がある_定年年齢_65歳以上\",\"2\",\"\",\"110\",\"\",\"\" \"cat02\",\"定年制度\",\"150\",\"定年制がない\",\"1\",\"\",\"\",\"\",\"\" \"time\",\"時間軸(年次)\",\"2016000000\",\"2016年\",\"1\",\"\",\"\",\"\",\"\""
					},
					"Bad Request": {
					  "value": "\\ \"RESULT\" \"STATUS\",\"101\" \"ERROR_MSG\",\"統計表ID（statsDataId）を指定して下さい。\" \"DATE\",\"2022-07-07T22:04:54.201+09:00\""
					},
					"Forbidden": {
					  "value": "\\ \"RESULT\" \"STATUS\",\"100\" \"ERROR_MSG\",\"認証に失敗しました。アプリケーションIDを確認して下さい。\" \"DATE\",\"2022-07-07T22:04:54.201+09:00\""
					},
					"Internal Server Error": {
					  "value": "\\ \"RESULT\" \"STATUS\",\"299\" \"ERROR_MSG\",\"予期しないエラーが発生しました。管理者に問い合わせて下さい。\" \"DATE\",\"2022-07-07T22:04:54.201+09:00\""
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"メタ情報取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/getStatsData": {
		"get": {
		  "summary": "統計データ取得(XML形式)",
		  "operationId": "get-rest-statsData",
		  "description": "統計データ(XML形式)を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "in": "query",
			  "name": "statsDataId",
			  "description": "統計表ID：統計表IDを指定。<br>「統計表情報取得」で得られる統計表IDです。<br>「統計表ID」、「データセットID」はどちらか一方を指定してください",
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "dataSetId",
			  "description": "データセットID：データセットIDを指定。<br>「データセット登録」で登録したデータセットIDです。<br>「統計表ID」、「データセットID」はどちらか一方を指定してください"
			},
			{
			  "$ref": "#/components/parameters/metaGetFlg"
			},
			{
			  "$ref": "#/components/parameters/cntGetFlg"
			},
			{
			  "$ref": "#/components/parameters/startPosition"
			},
			{
			  "$ref": "#/components/parameters/limit"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			},
			{
			  "$ref": "#/components/parameters/annotationGetFlg"
			},
			{
			  "$ref": "#/components/parameters/replaceSpChars"
			},
			{
			  "$ref": "#/components/parameters/sectionHeaderFlg"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvTab",
			  "description": "表章事項(階層レベル)：以下のいずれかの形式で指定して下さい。 (Xは「メタ情報取得」で得られる各メタ情報の階層レベル)<br>　X：指定階層レベルのみで絞り込み<br>　X-X：指定階層レベルの範囲で絞り込み<br>　-X：階層レベル1 から指定階層レベルの範囲で絞り込み<br>　X-：指定階層レベルから階層レベル 9 の範囲で絞り込み"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTab",
			  "description": "表章事項(コード 単一)：特定の項目コードでの絞り込み<br> 「メタ情報取得」で得られる各メタ情報の項目コードを指定して下さい。<br>コードはカンマ区切りで100個まで指定可能です。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。<br>　単一コードでmin又はmaxを使用する場合には、カンマ区切りによる複数の項目コード指定はできません。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTabFrom",
			  "description": "表章事項(コード From)：項目コードの範囲で絞り込み<br>項絞り込む範囲の開始位置の項目コードを指定して下さい。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "description": "表章事項(コード To)：項目コードの範囲で絞り込み<br>項絞り込む範囲の終了位置の項目コードを指定して下さい。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。",
			  "name": "cdTabTo"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvTime",
			  "description": "時間軸事項(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTime",
			  "description": "時間軸事項(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTimeFrom",
			  "description": "時間軸事項(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTimeTo",
			  "description": "時間軸事項(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvArea",
			  "description": "地域事項(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdArea",
			  "description": "地域事項(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdAreaFrom",
			  "description": "地域事項(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdAreaTo",
			  "description": "地域事項(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat01",
			  "description": "分類事項01(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat01",
			  "description": "分類事項01(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat01From",
			  "description": "分類事項01(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat01To",
			  "description": "分類事項01(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat02",
			  "description": "分類事項02(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat02",
			  "description": "分類事項02(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat02From",
			  "description": "分類事項02(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat02To",
			  "description": "分類事項02(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat03",
			  "description": "分類事項03(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat03",
			  "description": "分類事項03(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat03From",
			  "description": "分類事項03(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat03To",
			  "description": "分類事項03(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat04",
			  "description": "分類事項04(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat04",
			  "description": "分類事項04(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat04From",
			  "description": "分類事項04(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat04To",
			  "description": "分類事項04(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat05",
			  "description": "分類事項05(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat05",
			  "description": "分類事項05(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat05From",
			  "description": "分類事項05(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat05To",
			  "description": "分類事項05(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat06",
			  "description": "分類事項06(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat06",
			  "description": "分類事項06(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat06From",
			  "description": "分類事項06(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat06To",
			  "description": "分類事項06(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat07",
			  "description": "分類事項07(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat07",
			  "description": "分類事項07(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat07From",
			  "description": "分類事項07(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat07To",
			  "description": "分類事項07(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat08",
			  "description": "分類事項08(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat08",
			  "description": "分類事項08(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat08From",
			  "description": "分類事項08(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat08To",
			  "description": "分類事項08(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat09",
			  "description": "分類事項09(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat09",
			  "description": "分類事項09(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat09From",
			  "description": "分類事項09(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat09To",
			  "description": "分類事項09(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat10",
			  "description": "分類事項10(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat10",
			  "description": "分類事項10(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat10From",
			  "description": "分類事項10(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat10To",
			  "description": "分類事項10(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat11",
			  "description": "分類事項11(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat11",
			  "description": "分類事項11(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat11From",
			  "description": "分類事項11(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat11To",
			  "description": "分類事項11(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat12",
			  "description": "分類事項12(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat12",
			  "description": "分類事項12(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat12From",
			  "description": "分類事項12(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat12To",
			  "description": "分類事項12(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat13",
			  "description": "分類事項13(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat13",
			  "description": "分類事項13(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat13From",
			  "description": "分類事項13(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat13To",
			  "description": "分類事項13(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat14",
			  "description": "分類事項14(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat14",
			  "description": "分類事項14(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat14From",
			  "description": "分類事項14(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat14To",
			  "description": "分類事項14(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat15",
			  "description": "分類事項15(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat15",
			  "description": "分類事項15(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat15From",
			  "description": "分類事項15(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat15To",
			  "description": "分類事項15(コード To)：表章事項(コード To)と同様です。"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_DATA": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsData"
						  },
						  "STATISTICAL_DATA": {
							"$ref": "#/components/schemas/statisticalData"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsDataXml200"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_STATS_DATA xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsData.xsd\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n  <RESULT>\n    <STATUS>0</STATUS>\n    <ERROR_MSG>正常に終了しました。</ERROR_MSG>\n    <DATE>2022-07-07T22:39:55.600+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <STATS_DATA_ID>0003288322</STATS_DATA_ID>\n    <NARROWING_COND>\n      <CODE_TAB_FROM>min</CODE_TAB_FROM>\n      <CODE_TAB_TO>max</CODE_TAB_TO>\n    </NARROWING_COND>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>1</LIMIT>\n    <METAGET_FLG>Y</METAGET_FLG>\n    <CNT_GET_FLG>N</CNT_GET_FLG>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <ANNOTATION_GET_FLG>Y</ANNOTATION_GET_FLG>\n    <SECTION_HEADER_FLG>1</SECTION_HEADER_FLG>\n    <REPLACE_SP_CHARS>0</REPLACE_SP_CHARS>\n  </PARAMETER>\n  <STATISTICAL_DATA>\n    <RESULT_INF>\n      <TOTAL_NUMBER>25</TOTAL_NUMBER>\n      <FROM_NUMBER>1</FROM_NUMBER>\n      <TO_NUMBER>1</TO_NUMBER>\n      <NEXT_KEY>2</NEXT_KEY>\n    </RESULT_INF>\n    <TABLE_INF id=\"0003288322\">\n      <STAT_NAME code=\"00020111\">民間企業の勤務条件制度等調査</STAT_NAME>\n      <GOV_ORG code=\"00020\">人事院</GOV_ORG>\n      <STATISTICS_NAME>民間企業の勤務条件制度等調査（民間企業退職給付調査） 統計表 １　定年制と定年退職者の継続雇用の状況</STATISTICS_NAME>\n      <TITLE no=\"1\">（推計値） 定年制の状況</TITLE>\n      <CYCLE>年次</CYCLE>\n      <SURVEY_DATE>201601-201612</SURVEY_DATE>\n      <OPEN_DATE> 2019-03-20</OPEN_DATE>\n      <SMALL_AREA>0</SMALL_AREA>\n      <COLLECT_AREA>該当なし</COLLECT_AREA>\n      <MAIN_CATEGORY code=\"03\">労働・賃金</MAIN_CATEGORY>\n      <SUB_CATEGORY code=\"02\">賃金・労働条件</SUB_CATEGORY>\n      <OVERALL_TOTAL_NUMBER>25</OVERALL_TOTAL_NUMBER>\n      <UPDATED_DATE>2019-03-30</UPDATED_DATE>\n      <STATISTICS_NAME_SPEC>\n        <TABULATION_CATEGORY>民間企業の勤務条件制度等調査（民間企業退職給付調査）</TABULATION_CATEGORY>\n        <TABULATION_SUB_CATEGORY1>統計表</TABULATION_SUB_CATEGORY1>\n        <TABULATION_SUB_CATEGORY2>１　定年制と定年退職者の継続雇用の状況</TABULATION_SUB_CATEGORY2>\n      </STATISTICS_NAME_SPEC>\n      <DESCRIPTION>\n        <TABULATION_CATEGORY_EXPLANATION>提供統計の解説</TABULATION_CATEGORY_EXPLANATION>\n        <TABULATION_SUB_CATEGORY_EXPLANATION1>統計表提供分類1の解説</TABULATION_SUB_CATEGORY_EXPLANATION1>\n        <TABULATION_SUB_CATEGORY_EXPLANATION2>統計表提供分類2の解説</TABULATION_SUB_CATEGORY_EXPLANATION2>\n      </DESCRIPTION>\n      <TITLE_SPEC>\n        <TABLE_CATEGORY>（推計値）</TABLE_CATEGORY>\n        <TABLE_NAME>定年制の状況</TABLE_NAME>\n        <TABLE_EXPLANATION>１　事務・技術関係職種の従業員がいる企業41,314社について集計した。２　「定年年齢」内の数値は定年制がある企業を100とした場合の割合を示す。</TABLE_EXPLANATION>\n      </TITLE_SPEC>\n    </TABLE_INF>\n    <CLASS_INF>\n      <CLASS_OBJ id=\"tab\" name=\"表章項目\">\n        <CLASS code=\"00110\" name=\"企業数割合\" level=\"\" unit=\"%\"/>\n      </CLASS_OBJ>\n      <CLASS_OBJ id=\"cat01\" name=\"企業規模\">\n        <CLASS code=\"100\" name=\"計\" level=\"1\"/>\n        <CLASS code=\"150\" name=\"1,000人以上\" level=\"2\" parentCode=\"100\"/>\n        <CLASS code=\"140\" name=\"500人以上1,000人未満\" level=\"2\" parentCode=\"100\"/>\n        <CLASS code=\"120\" name=\"100人以上500人未満\" level=\"2\" parentCode=\"100\"/>\n        <CLASS code=\"110\" name=\"50人以上100人未満\" level=\"2\" parentCode=\"100\"/>\n      </CLASS_OBJ>\n      <CLASS_OBJ id=\"cat02\" name=\"定年制度\">\n        <CLASS code=\"110\" name=\"定年制がある\" level=\"1\"/>\n        <CLASS code=\"120\" name=\"定年制がある_定年年齢_60歳\" level=\"2\" parentCode=\"110\"/>\n        <CLASS code=\"130\" name=\"定年制がある_定年年齢_61歳以上65歳未満\" level=\"2\" parentCode=\"110\"/>\n        <CLASS code=\"140\" name=\"定年制がある_定年年齢_65歳以上\" level=\"2\" parentCode=\"110\"/>\n        <CLASS code=\"150\" name=\"定年制がない\" level=\"1\"/>\n      </CLASS_OBJ>\n      <CLASS_OBJ id=\"time\" name=\"時間軸(年次)\">\n        <CLASS code=\"2016000000\" name=\"2016年\" level=\"1\"/>\n      </CLASS_OBJ>\n    </CLASS_INF>\n    <DATA_INF>\n      <NOTE char=\"-\">計数がない場合</NOTE>\n      <NOTE char=\"ｘ\">計数がない場合</NOTE>\n      <VALUE tab=\"00110\" cat01=\"100\" cat02=\"110\" time=\"2016000000\" unit=\"%\">99.1</VALUE>\n    </DATA_INF>\n  </STATISTICAL_DATA>\n</GET_STATS_DATA>"
					}
				  }
				}
			  }
			},
			"400": {
			  "description": "Bad Request",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_DATA": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsData"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsDataXml400"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_STATS_DATA xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsData.xsd\">\n  <RESULT>\n    <STATUS>101</STATUS>\n    <ERROR_MSG>統計表ID（statsDataId）または データセットID（dataSetId）のどちらか一方を指定して下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <NARROWING_COND>\n      <CODE_TAB_FROM>min</CODE_TAB_FROM>\n      <CODE_TAB_TO>max</CODE_TAB_TO>\n    </NARROWING_COND>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>10</LIMIT>\n    <METAGET_FLG>Y</METAGET_FLG>\n    <CNT_GET_FLG>N</CNT_GET_FLG>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <ANNOTATION_GET_FLG>Y</ANNOTATION_GET_FLG>\n    <SECTION_HEADER_FLG>1</SECTION_HEADER_FLG>\n    <REPLACE_SP_CHARS>0</REPLACE_SP_CHARS>\n  </PARAMETER>\n</GET_STATS_DATA>"
					}
				  }
				}
			  }
			},
			"403": {
			  "description": "Forbidden",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_DATA": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsData"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsDataXml403"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_STATS_DATA xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsData.xsd\">\n  <RESULT>\n    <STATUS>100</STATUS>\n    <ERROR_MSG>認証に失敗しました。アプリケーションIDを確認して下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <DATASET_ID>test_00001</DATASET_ID>\n    <STATS_DATA_ID>0003288322</STATS_DATA_ID>\n    <NARROWING_COND>\n      <CODE_TAB_FROM>min</CODE_TAB_FROM>\n      <CODE_TAB_TO>max</CODE_TAB_TO>\n    </NARROWING_COND>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>10</LIMIT>\n    <METAGET_FLG>Y</METAGET_FLG>\n    <CNT_GET_FLG>N</CNT_GET_FLG>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <ANNOTATION_GET_FLG>Y</ANNOTATION_GET_FLG>\n    <SECTION_HEADER_FLG>1</SECTION_HEADER_FLG>\n    <REPLACE_SP_CHARS>0</REPLACE_SP_CHARS>\n  </PARAMETER>\n</GET_STATS_DATA>"
					}
				  }
				}
			  }
			},
			"500": {
			  "description": "Internal Server Error",
			  "content": {
				"application/xml": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_DATA": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsData"
						  }
						}
					  }
					},
					"xml": {
					  "name": "getStatsDataXml500"
					}
				  },
				  "examples": {
					"example-1": {
					  "value": "<GET_STATS_DATA xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"https://api.e-stat.go.jp/rest/3.0/schema/GetStatsData.xsd\">\n  <RESULT>\n    <STATUS>299</STATUS>\n    <ERROR_MSG>予期しないエラーが発生しました。管理者に問い合わせて下さい。</ERROR_MSG>\n    <DATE>2022-07-05T10:02:22.459+09:00</DATE>\n  </RESULT>\n  <PARAMETER>\n    <LANG>J</LANG>\n    <DATASET_ID>test_00001</DATASET_ID>\n    <STATS_DATA_ID>0003288322</STATS_DATA_ID>\n    <NARROWING_COND>\n      <CODE_TAB_FROM>min</CODE_TAB_FROM>\n      <CODE_TAB_TO>max</CODE_TAB_TO>\n    </NARROWING_COND>\n    <DATA_FORMAT>X</DATA_FORMAT>\n    <START_POSITION>1</START_POSITION>\n    <LIMIT>10</LIMIT>\n    <METAGET_FLG>Y</METAGET_FLG>\n    <CNT_GET_FLG>N</CNT_GET_FLG>\n    <EXPLANATION_GET_FLG>Y</EXPLANATION_GET_FLG>\n    <ANNOTATION_GET_FLG>Y</ANNOTATION_GET_FLG>\n    <SECTION_HEADER_FLG>1</SECTION_HEADER_FLG>\n    <REPLACE_SP_CHARS>0</REPLACE_SP_CHARS>\n  </PARAMETER>\n</GET_STATS_DATA>"
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"統計データ取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/json/getStatsData": {
		"get": {
		  "summary": "統計データ取得(JSON形式)",
		  "operationId": "get-rest-json-statsData",
		  "description": "統計データ(JSON形式)を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "in": "query",
			  "name": "statsDataId",
			  "description": "統計表ID：統計表IDを指定。<br>「統計表情報取得」で得られる統計表IDです。<br>「統計表ID」、「データセットID」はどちらか一方を指定してください",
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "dataSetId",
			  "description": "データセットID：データセットIDを指定。<br>「データセット登録」で登録したデータセットIDです。<br>「統計表ID」、「データセットID」はどちらか一方を指定してください"
			},
			{
			  "$ref": "#/components/parameters/metaGetFlg"
			},
			{
			  "$ref": "#/components/parameters/cntGetFlg"
			},
			{
			  "$ref": "#/components/parameters/startPosition"
			},
			{
			  "$ref": "#/components/parameters/limit"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			},
			{
			  "$ref": "#/components/parameters/annotationGetFlg"
			},
			{
			  "$ref": "#/components/parameters/replaceSpChars"
			},
			{
			  "$ref": "#/components/parameters/sectionHeaderFlg"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvTab",
			  "description": "表章事項(階層レベル)：以下のいずれかの形式で指定して下さい。 (Xは「メタ情報取得」で得られる各メタ情報の階層レベル)<br>　X：指定階層レベルのみで絞り込み<br>　X-X：指定階層レベルの範囲で絞り込み<br>　-X：階層レベル1 から指定階層レベルの範囲で絞り込み<br>　X-：指定階層レベルから階層レベル 9 の範囲で絞り込み"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTab",
			  "description": "表章事項(コード 単一)：特定の項目コードでの絞り込み<br> 「メタ情報取得」で得られる各メタ情報の項目コードを指定して下さい。<br>コードはカンマ区切りで100個まで指定可能です。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。<br>　単一コードでmin又はmaxを使用する場合には、カンマ区切りによる複数の項目コード指定はできません。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTabFrom",
			  "description": "表章事項(コード From)：項目コードの範囲で絞り込み<br>項絞り込む範囲の開始位置の項目コードを指定して下さい。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "description": "表章事項(コード To)：項目コードの範囲で絞り込み<br>項絞り込む範囲の終了位置の項目コードを指定して下さい。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。",
			  "name": "cdTabTo"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvTime",
			  "description": "時間軸事項(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTime",
			  "description": "時間軸事項(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTimeFrom",
			  "description": "時間軸事項(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTimeTo",
			  "description": "時間軸事項(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvArea",
			  "description": "地域事項(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdArea",
			  "description": "地域事項(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdAreaFrom",
			  "description": "地域事項(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdAreaTo",
			  "description": "地域事項(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat01",
			  "description": "分類事項01(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat01",
			  "description": "分類事項01(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat01From",
			  "description": "分類事項01(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat01To",
			  "description": "分類事項01(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat02",
			  "description": "分類事項02(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat02",
			  "description": "分類事項02(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat02From",
			  "description": "分類事項02(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat02To",
			  "description": "分類事項02(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat03",
			  "description": "分類事項03(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat03",
			  "description": "分類事項03(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat03From",
			  "description": "分類事項03(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat03To",
			  "description": "分類事項03(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat04",
			  "description": "分類事項04(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat04",
			  "description": "分類事項04(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat04From",
			  "description": "分類事項04(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat04To",
			  "description": "分類事項04(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat05",
			  "description": "分類事項05(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat05",
			  "description": "分類事項05(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat05From",
			  "description": "分類事項05(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat05To",
			  "description": "分類事項05(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat06",
			  "description": "分類事項06(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat06",
			  "description": "分類事項06(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat06From",
			  "description": "分類事項06(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat06To",
			  "description": "分類事項06(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat07",
			  "description": "分類事項07(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat07",
			  "description": "分類事項07(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat07From",
			  "description": "分類事項07(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat07To",
			  "description": "分類事項07(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat08",
			  "description": "分類事項08(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat08",
			  "description": "分類事項08(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat08From",
			  "description": "分類事項08(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat08To",
			  "description": "分類事項08(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat09",
			  "description": "分類事項09(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat09",
			  "description": "分類事項09(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat09From",
			  "description": "分類事項09(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat09To",
			  "description": "分類事項09(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat10",
			  "description": "分類事項10(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat10",
			  "description": "分類事項10(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat10From",
			  "description": "分類事項10(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat10To",
			  "description": "分類事項10(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat11",
			  "description": "分類事項11(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat11",
			  "description": "分類事項11(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat11From",
			  "description": "分類事項11(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat11To",
			  "description": "分類事項11(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat12",
			  "description": "分類事項12(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat12",
			  "description": "分類事項12(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat12From",
			  "description": "分類事項12(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat12To",
			  "description": "分類事項12(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat13",
			  "description": "分類事項13(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat13",
			  "description": "分類事項13(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat13From",
			  "description": "分類事項13(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat13To",
			  "description": "分類事項13(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat14",
			  "description": "分類事項14(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat14",
			  "description": "分類事項14(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat14From",
			  "description": "分類事項14(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat14To",
			  "description": "分類事項14(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvCat15",
			  "description": "分類事項15(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat15",
			  "description": "分類事項15(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat15From",
			  "description": "分類事項15(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdCat15To",
			  "description": "分類事項15(コード To)：表章事項(コード To)と同様です。"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "content": {
				"application/json": {
				  "schema": {
					"type": "object",
					"properties": {
					  "GET_STATS_DATA": {
						"type": "object",
						"properties": {
						  "RESULT": {
							"$ref": "#/components/schemas/result"
						  },
						  "PARAMETER": {
							"$ref": "#/components/schemas/parameterStatsData"
						  },
						  "STATISTICAL_DATA": {
							"$ref": "#/components/schemas/statisticalData"
						  }
						}
					  }
					}
				  },
				  "examples": {
					"example-1": {
					  "value": {
						"GET_STATS_DATA": {
						  "RESULT": {
							"STATUS": "0",
							"ERROR_MSG": "正常に終了しました。",
							"DATE": "2022-07-07T22:34:26.640+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"STATS_DATA_ID": "0003288322",
							"NARROWING_COND": {
							  "CODE_TAB_FROM": "min",
							  "CODE_TAB_TO": "max"
							},
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "1",
							"METAGET_FLG": "Y",
							"CNT_GET_FLG": "N",
							"EXPLANATION_GET_FLG": "Y",
							"ANNOTATION_GET_FLG": "Y",
							"SECTION_HEADER_FLG": "1",
							"REPLACE_SP_CHARS": "0"
						  },
						  "STATISTICAL_DATA": {
							"RESULT_INF": {
							  "TOTAL_NUMBER": "25",
							  "FROM_NUMBER": "1",
							  "TO_NUMBER": "1",
							  "NEXT_KEY": "2"
							},
							"TABLE_INF": {
							  "@id": "0003288322",
							  "STAT_NAME": {
								"@code": "00020111",
								"$": "民間企業の勤務条件制度等調査"
							  },
							  "GOV_ORG": {
								"@code": "00020",
								"$": "人事院"
							  },
							  "STATISTICS_NAME": "民間企業の勤務条件制度等調査（民間企業退職給付調査） 統計表 １　定年制と定年退職者の継続雇用の状況",
							  "TITLE": {
								"@no": "1",
								"$": "（推計値） 定年制の状況"
							  },
							  "CYCLE": "年次",
							  "SURVEY_DATE": "201601-201612",
							  "OPEN_DATE": "2019-03-20",
							  "SMALL_AREA": "0",
							  "COLLECT_AREA": "該当なし",
							  "MAIN_CATEGORY": {
								"@code": "03",
								"$": "労働・賃金"
							  },
							  "SUB_CATEGORY": {
								"@code": "02",
								"$": "賃金・労働条件"
							  },
							  "OVERALL_TOTAL_NUMBER": "25",
							  "UPDATED_DATE": "2019-03-30",
							  "STATISTICS_NAME_SPEC": {
								"TABULATION_CATEGORY": "民間企業の勤務条件制度等調査（民間企業退職給付調査）",
								"TABULATION_SUB_CATEGORY1": "統計表",
								"TABULATION_SUB_CATEGORY2": "１　定年制と定年退職者の継続雇用の状況"
							  },
							  "DESCRIPTION": {
								"TABULATION_CATEGORY_EXPLANATION": "提供統計の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION1": "統計表提供分類1の解説",
								"TABULATION_SUB_CATEGORY_EXPLANATION2": "統計表提供分類2の解説"
							  },
							  "TITLE_SPEC": {
								"TABLE_CATEGORY": "（推計値）",
								"TABLE_NAME": "定年制の状況",
								"TABLE_EXPLANATION": "１　事務・技術関係職種の従業員がいる企業41,314社について集計した。２　「定年年齢」内の数値は定年制がある企業を100とした場合の割合を示す。"
							  }
							},
							"CLASS_INF": {
							  "CLASS_OBJ": [
								{
								  "@id": "tab",
								  "@name": "表章項目",
								  "CLASS": {
									"@code": "00110",
									"@name": "企業数割合",
									"@level": "",
									"@unit": "%"
								  }
								},
								{
								  "@id": "cat01",
								  "@name": "企業規模",
								  "CLASS": [
									{
									  "@code": "100",
									  "@name": "計",
									  "@level": "1"
									},
									{
									  "@code": "150",
									  "@name": "1,000人以上",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "140",
									  "@name": "500人以上1,000人未満",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "120",
									  "@name": "100人以上500人未満",
									  "@level": "2",
									  "@parentCode": "100"
									},
									{
									  "@code": "110",
									  "@name": "50人以上100人未満",
									  "@level": "2",
									  "@parentCode": "100"
									}
								  ]
								},
								{
								  "@id": "cat02",
								  "@name": "定年制度",
								  "CLASS": [
									{
									  "@code": "110",
									  "@name": "定年制がある",
									  "@level": "1"
									},
									{
									  "@code": "120",
									  "@name": "定年制がある_定年年齢_60歳",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "130",
									  "@name": "定年制がある_定年年齢_61歳以上65歳未満",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "140",
									  "@name": "定年制がある_定年年齢_65歳以上",
									  "@level": "2",
									  "@parentCode": "110"
									},
									{
									  "@code": "150",
									  "@name": "定年制がない",
									  "@level": "1"
									}
								  ]
								},
								{
								  "@id": "time",
								  "@name": "時間軸(年次)",
								  "CLASS": {
									"@code": "2016000000",
									"@name": "2016年",
									"@level": "1"
								  }
								}
							  ]
							},
							"DATA_INF": {
							  "NOTE": [
								{
								  "@char": "-",
								  "$": "計数がない場合"
								},
								{
								  "@char": "ｘ",
								  "$": "計数がない場合"
								}
							  ],
							  "VALUE": {
								"@tab": "00110",
								"@cat01": "100",
								"@cat02": "110",
								"@time": "2016000000",
								"@unit": "%",
								"$": "99.1"
							  }
							}
						  }
						}
					  }
					},
					"Bad Request": {
					  "value": {
						"GET_STATS_DATA": {
						  "RESULT": {
							"STATUS": "101",
							"ERROR_MSG": "統計表ID（statsDataId）または データセットID（dataSetId）のどちらか一方を指定して下さい。",
							"DATE": "2022-07-05T11:13:55.425+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"NARROWING_COND": {
							  "CODE_TAB_FROM": "min",
							  "CODE_TAB_TO": "max"
							},
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "10",
							"METAGET_FLG": "Y",
							"CNT_GET_FLG": "N",
							"EXPLANATION_GET_FLG": "Y",
							"ANNOTATION_GET_FLG": "Y",
							"SECTION_HEADER_FLG": "1",
							"REPLACE_SP_CHARS": "0"
						  }
						}
					  }
					},
					"Forbidden": {
					  "value": {
						"GET_STATS_DATA": {
						  "RESULT": {
							"STATUS": "100",
							"ERROR_MSG": "認証に失敗しました。アプリケーションIDを確認して下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATASET_ID": "test_00001",
							"STATS_DATA_ID": "0003288322",
							"NARROWING_COND": {
							  "CODE_TAB_FROM": "min",
							  "CODE_TAB_TO": "max"
							},
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "10",
							"METAGET_FLG": "Y",
							"CNT_GET_FLG": "N",
							"EXPLANATION_GET_FLG": "Y",
							"ANNOTATION_GET_FLG": "Y",
							"SECTION_HEADER_FLG": "1",
							"REPLACE_SP_CHARS": "0"
						  }
						}
					  }
					},
					"Internal Server Error": {
					  "value": {
						"GET_STATS_DATA": {
						  "RESULT": {
							"STATUS": "299",
							"ERROR_MSG": "予期しないエラーが発生しました。管理者に問い合わせて下さい。",
							"DATE": "2022-07-05T10:02:22.459+09:00"
						  },
						  "PARAMETER": {
							"LANG": "J",
							"DATASET_ID": "test_00001",
							"STATS_DATA_ID": "0003288322",
							"NARROWING_COND": {
							  "CODE_TAB_FROM": "min",
							  "CODE_TAB_TO": "max"
							},
							"DATA_FORMAT": "J",
							"START_POSITION": "1",
							"LIMIT": "10",
							"METAGET_FLG": "Y",
							"CNT_GET_FLG": "N",
							"EXPLANATION_GET_FLG": "Y",
							"ANNOTATION_GET_FLG": "Y",
							"SECTION_HEADER_FLG": "1",
							"REPLACE_SP_CHARS": "0"
						  }
						}
					  }
					}
				  }
				}
			  }
			}
		  },
		  "tags": [
			"統計データ取得"
		  ]
		},
		"parameters": []
	  },
	  "/rest/3.0/app/jsonp/getStatsData": {
		"get": {
		  "summary": "統計データ取得(JSONP形式)",
		  "operationId": "get-rest-jsonp-statsData",
		  "description": "統計データ(JSONP形式)を取得する。<br>",
		  "parameters": [
			{
			  "$ref": "#/components/parameters/appId"
			},
			{
			  "$ref": "#/components/parameters/lang"
			},
			{
			  "in": "query",
			  "name": "statsDataId",
			  "description": "統計表ID：統計表IDを指定。<br>「統計表情報取得」で得られる統計表IDです。<br>「統計表ID」、「データセットID」はどちらか一方を指定してください",
			  "schema": {
				"type": "string"
			  }
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "dataSetId",
			  "description": "データセットID：データセットIDを指定。<br>「データセット登録」で登録したデータセットIDです。<br>「統計表ID」、「データセットID」はどちらか一方を指定してください"
			},
			{
			  "$ref": "#/components/parameters/metaGetFlg"
			},
			{
			  "$ref": "#/components/parameters/cntGetFlg"
			},
			{
			  "$ref": "#/components/parameters/startPosition"
			},
			{
			  "$ref": "#/components/parameters/limit"
			},
			{
			  "$ref": "#/components/parameters/explanationGetFlg"
			},
			{
			  "$ref": "#/components/parameters/annotationGetFlg"
			},
			{
			  "$ref": "#/components/parameters/replaceSpChars"
			},
			{
			  "$ref": "#/components/parameters/sectionHeaderFlg"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvTab",
			  "description": "表章事項(階層レベル)：以下のいずれかの形式で指定して下さい。 (Xは「メタ情報取得」で得られる各メタ情報の階層レベル)<br>　X：指定階層レベルのみで絞り込み<br>　X-X：指定階層レベルの範囲で絞り込み<br>　-X：階層レベル1 から指定階層レベルの範囲で絞り込み<br>　X-：指定階層レベルから階層レベル 9 の範囲で絞り込み"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTab",
			  "description": "表章事項(コード 単一)：特定の項目コードでの絞り込み<br> 「メタ情報取得」で得られる各メタ情報の項目コードを指定して下さい。<br>コードはカンマ区切りで100個まで指定可能です。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。<br>　単一コードでmin又はmaxを使用する場合には、カンマ区切りによる複数の項目コード指定はできません。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTabFrom",
			  "description": "表章事項(コード From)：項目コードの範囲で絞り込み<br>項絞り込む範囲の開始位置の項目コードを指定して下さい。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "description": "表章事項(コード To)：項目コードの範囲で絞り込み<br>項絞り込む範囲の終了位置の項目コードを指定して下さい。<br>以下の特別なキーワードを指定可能です。<br>　min：最小値<br>　max：最大値<br>　min及びmaxはそれぞれ該当事項に属する項目コード値の最小値及び最大値を表します。",
			  "name": "cdTabTo"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvTime",
			  "description": "時間軸事項(階層レベル)：表章事項(階層レベル)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTime",
			  "description": "時間軸事項(コード 単一)：表章事項(コード 単一)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTimeFrom",
			  "description": "時間軸事項(コード From)：表章事項(コード From)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "cdTimeTo",
			  "description": "時間軸事項(コード To)：表章事項(コード To)と同様です。"
			},
			{
			  "schema": {
				"type": "string"
			  },
			  "in": "query",
			  "name": "lvArea",
[...]
